.reviewBtn {
  background-color: #b03b3b;
  color: #fff;
  width: 40px;
  padding: 3px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: none;
  margin-right: 5px;
}
.approveBtn {
  background-color: #3bb091;
  color: #fff;
  width: 40px;
  padding: 3px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: none;
  margin-right: 5px;
}
.downloadBtn {
  background-color: #3b58b0;
  color: #fff;
  width: 40px;
  padding: 3px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: none;
  margin-right: 5px;
}
